block content
    #investors.section-inner
        .title-bucket.five
            h1 #{content.investorsHeadline}
            h1 #{content.investorsHeadline2}
            h2 #{content.investorsSubHeadline}
            h2 #{content.investorsSubHeadline2}


        .btn-wrapper
            a.btn.lightBlue#investors-learn-more(href="#{content.investorsLink}") #{content.investorsLinkLabel}