block content
    #sponsorships.section-inner
        .title-bucket.six
            h1 !{content.partnersHeadline}
            h2 !{content.partnersHeadline2}
            h3 !{content.partnersSubHeadline}



        .btn-wrapper
            a.btn.lightBlue#sponsorships-learn-more(href="#{content.partnersLink}") #{content.partnersLinkLabel}
